@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange : hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 9%, 34%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    height: 98vh;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: var(--very-dark-blue);
    display: grid;
    align-content: center;
    justify-content: center;
}
main {
    background-color: var(--dark-blue);
    width: 350px;
    height: 300px;
    border-radius: 20px;
    padding: 20px;
}
section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: var(--white);
    margin: 0;
    font-size: 1.6rem;
}
.comment {
    color: var(--light-grey);
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.numbers > div:hover {
    cursor: pointer;
}
.round {
    width: 20px;
    text-align: center;
    padding:5px;
    border-radius: 150px; /*MAke to look like circle*/
    background-color: var(--light-grey);
    color: var(--white);
}
.submit-button {
    background-color: var(--orange);
    color: var(--white);
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.submit-button:hover{
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}

/* Thank you page
-------------------*/
.thank-you {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.rating-result {
    display: flex;
    flex-direction: row;
    background-color: var(--medium-grey);
    color: var(--orange);
    padding: 5px 10px;
    border-radius: 10px;
}
.result {
    margin: 0 3px;
}
.comment-after-rating{
    text-align: center;
    color: var(--light-grey);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}